body .loader {
    color: #fff;
    background-color: #357ca5;
    font-size: 32px;
    height: 50px;
    text-align: center;
}

.ui-widget {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: : 14px;
}

.ui-datatable table {
    table-layout: auto;
}

.ui-datatable tbody {
    border: none;
}

.ui-datatable tbody>tr.ui-widget-content {
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: 1px solid rgb(200, 200, 200);
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    table-layout: auto;
    /*border-bottom: none;
    border-left: none;
    border-right: none;*/
    border: 1px solid rgb(200, 200, 200);
    background: #ffffff;
    font-weight: normal;
    color: #555555;
}

.ui-datatable tbody.th.ui-state-default {
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: 1px solid rgb(200, 200, 200);
}

.ui-datatable th.ui-state-default {
    border: none;
    border-bottom: 2px solid rgb(200, 200, 200);
    background: none;
}

.ui-calendar.ui-calendar-w-btn input {
    width: 100%;
}


.ui-calendar {
    width: 100%;
}



/*.ui-widget-content {
  border:none;
  border-top: 1px solid rgb(244,244,244);
}*/


/*
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  color:rgb(51, 51, 51);
}
*/


/*.ui-widget .ui-datable {
  border:none;
}*/

.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td, .ui-datatable tfoot th {
    padding: 4px 10px;
    overflow: hidden;
    border: none;
}

.ui-datatable thead th, .ui-datatable tfoot td {
    text-align: left;
}


/* Admin LTE tweak */


/* change zindex to be compatible with primeng growl */

.main-header-flm-tweak {
    z-index: 999
}

label {
    display: block;
}
