<div class="row">
  <div class="col-md-12">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>Servers</h1>
      <ol class="breadcrumb">
        <li><a href="#/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Servers</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="box">
        <div class="box-body">
          <table class="table" ng-if="servers.length">
            <tr>
              <th>Name</th>
              <th>IP</th>
              <th>Provider</th>
              <th>Type</th>
              <th>Description</th>
              <th>Edit</th>
            </tr>
            <tr ng-repeat="server in servers | orderBy:'name'">
              <td>{{server.name}}</td>
              <td>{{server.ip}}</td>
              <td>{{server.provider}}</td>
              <td>{{server.type}}</td>
              <td>{{server.description}}</td>
              <td>
                <a ng-href="#/server/edit/{{server.id}}" ng-if="server.hasOwnProperty('id')" class="btn btn-default btn-xs"><i class="fa fa-edit"></i></a>
                <img src="http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/images/loader-large.gif" height="22px" width="24px" ng-if="!server.hasOwnProperty('id')">
              </td>
            </tr>
          </table>
          <div class="callout callout-info" ng-if="!servers.length">
            <p>There are no servers yet. Feel free to add your first server using the "New Server" button.</p>
          </div>
        </div>
        <div class="box-footer">
          <a ng-href="#/server/new" class="btn btn-primary">New Server</a>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
</div>
