{% extends "layout.html.twig" %}

{% block title %}Servers{% endblock %}
{% block breadcrumb %}Servers{% endblock %}

{% block body %}
<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title">Server list</h3>
    </div>
    <div class="box-body">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>IP</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
            {% for server in servers %}
            <tr>
                <td>
                    {{server.name}}
                </td>
                <td>
                    {{server.ip}}
                </td>
                <td>
                    {{server.type}}
                </td>
                <td>
                    {{server.description}}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
