
<div class="row">
  <div class="col-md-12">
    <section class="content-header">
      <h1>{{client.firstname}} {{client.lastname}}</h1>
      <ol class="breadcrumb">
        <li><a href="#/"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li><a href="#/clients">Clients</a></li>
        <li class="active">View Client</li>
      </ol>
    </section>
    <section class="content">
      <div class="col-md-3">
        <div class="box box-primary">
          <div class="box-body box-profile"><img class="profile-user-img img-responsive img-circle" src="https://avatars1.githubusercontent.com/u/5183366?v=3&amp;s=120"/>
            <h1 class="profile-username text-center">{{client.firstname}} {{client.lastname}}</h1>
            <ul class="list-group list-group-unbordered">
              <li class="list-group-item"><b>Firstname : </b>{{client.firstname}}</li>
              <li class="list-group-item"><b>Lastname : </b>{{client.lastname}}</li>
              <li class="list-group-item"><b>Organisation : </b>{{client.organisation}}</li>
              <li class="list-group-item"><b>Email : </b>{{client.email}}</li>
              <li class="list-group-item"><b>Phone : </b>{{client.phone}}</li>
              <li class="list-group-item"><b>Address : </b>{{client.address}}</li>
            </ul>
            <div class="box-footer">
              <button class="btn btn-primary" routerLink="/client/edit/{{client.id}}" *ngIf="client.hasOwnProperty('id')"><i class="fa fa-pencil"></i></button>
              <button class="btn btn-danger" (click)="onDelete()"><i class="fa fa-trash-o"></i></button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="box">
          <div class="box-body box-profile">
            <ul class="timeline timeline-inverse">
              <li class="time-label"><span class="bg-green">{{currentDate()}}</span></li>
              <li class="time-label"><i class="fa fa-envelope bg-blue"></i>
                <div class="timeline-item"><span class="time"><i class="fa fa-clock-o"></i> </span>
                  <h3 class="timeline-header">Add a note</h3>
                  <div class="timeline-body">
                    <input class="form-control" name="note" [(ngModel)]="note" type="text"/>
                    <button class="btn btn-primary" (click)="onSubmitNote()">Submit</button>
                  </div>
                </div>
              </li>
              <li class="time-label" *ngFor="let event of client.events"><i class="fa fa-envelope bg-blue"></i>
                <div class="timeline-item"><span class="time"><i class="fa fa-clock-o"></i>{{date(event.date)}}</span>
                  <h3 class="timeline-header">titel</h3>
                  <div class="timeline-body">{{event.post}}</div>
                  <div class="timeline-footer">
                    <button class="btn btn-danger" (click)="onDelete()"><i class="fa fa-trash-o"></i></button>
                  </div>
                </div>
              </li>
              <li class="time-label">&nbsp;<i class="fa fa-circle bg-gray"></i></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
  <ng2-slim-loading-bar [color]="'blue'"></ng2-slim-loading-bar>
</div>