
<div class="row">
  <div class="col-md-12">
    <section class="content-header">
      <h1>Clients</h1>
      <ol class="breadcrumb">
        <li><a href="#/"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Clients</li>
      </ol>
    </section>
    <section class="content">
      <div class="box-footer">
        <button class="btn btn-primary" routerLink="/client/new">Add new Client</button>
      </div>
      <div class="box">
        <p-dataTable [value]="clients">
          <p-column field="firstname" header="Firstname" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search"></p-column>
          <p-column field="lastname" header="Lastname" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search"></p-column>
          <p-column field="organisation" header="Organisation" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search"></p-column>
          <p-column field="email" header="Email" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search"></p-column>
          <p-column field="phone" header="Phone" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search"></p-column>
          <p-column field="address" header="Address" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search"></p-column>
          <p-column header="" [style]="{'width':'0px'}">
            <template let-client="rowData" pTemplate="pTemplate" type="body">
              <button class="btn btn-default btn-xs" routerLink="/client/edit/{{client.id}}" *ngIf="client.hasOwnProperty('id')"><i class="fa fa-edit"></i></button>
              <button class="btn btn-default btn-xs" routerLink="/client/{{client.id}}" *ngIf="client.hasOwnProperty('id')"><i class="fa fa-eye"></i></button>
            </template>
          </p-column>
        </p-dataTable>
        <div class="callout callout-info" *ngIf="clients && !clients?.length">
          <p>There are no clients yet. Feel free to add your first client using the "Add new Client" button.</p>
        </div>
        <div class="callout callout-info" *ngIf="!clients">
          <p>Loading...</p>
        </div>
      </div>
      <div class="box-footer">
        <button class="btn btn-primary" routerLink="/client/new">Add new Client</button>
      </div>
    </section>
  </div>
  <ng2-slim-loading-bar [color]="'blue'"></ng2-slim-loading-bar>
</div>