
<div class="row">
  <div class="col-md-12">
    <section class="content-header">
      <h1>Events</h1>
      <ol class="breadcrumb">
        <li><a href="#/"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Events</li>
      </ol>
    </section>
    <section class="content">
      <div class="box-footer">
        <button class="btn btn-primary" routerLink="/event/new">Add new Event</button>
      </div>
      <div class="box">
        <p-dataTable [value]="events">
          <p-column field="ressource_id" header="Ressource ID" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search"></p-column>
          <p-column field="date" header="Date" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search">
            <template let-col="" let-row="rowData" pTemplate="pTemplate" type="body">{{date(row[col.field])}}</template>
          </p-column>
          <p-column field="post" header="Post" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search"></p-column>
        </p-dataTable>
        <div class="callout callout-info" *ngIf="events && !events?.length">
          <p>There are no events yet. Feel free to add your first event using the "Add new Event" button.</p>
        </div>
        <div class="callout callout-info" *ngIf="!events">
          <p>Loading...</p>
        </div>
      </div>
      <div class="box-footer">
        <button class="btn btn-primary" routerLink="/event/new">Add new Event</button>
      </div>
    </section>
  </div>
  <ng2-slim-loading-bar [color]="'blue'"></ng2-slim-loading-bar>
</div>