
<div class="row">
  <div class="col-md-12">
    <section class="content-header">
      <h1>Platforms</h1>
      <ol class="breadcrumb">
        <li><a href="#/"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Platforms</li>
      </ol>
    </section>
    <section class="content">
      <div class="box-footer">
        <button class="btn btn-primary" routerLink="/platform/new">Add new Platform</button>
      </div>
      <div class="box">
        <p-dataTable [value]="platforms">
          <p-column field="name" header="Name" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search"></p-column>
          <p-column field="subdomain" header="Subdomain" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search"></p-column>
          <p-column field="description" header="Description" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search"></p-column>
          <p-column field="plan" header="Plan" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search"></p-column>
          <p-column field="end_date" header="End date" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search"></p-column>
          <p-column field="max_users" header="Max users" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search"></p-column>
          <p-column field="max_disk_space" header="Max disk space" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search"></p-column>
          <p-column field="contact_name" header="Contact" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search"></p-column>
          <p-column field="contact_email" header="Email" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search"></p-column>
          <p-column field="contact_phone" header="Phone" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search"></p-column>
          <p-column header="" [style]="{'width':'0px'}">
            <template let-platform="rowData" pTemplate="pTemplate" type="body">
              <button class="btn btn-default btn-xs" routerLink="/platform/edit/{{platform.id}}" *ngIf="platform.hasOwnProperty('id')"><i class="fa fa-edit"></i></button>
            </template>
          </p-column>
        </p-dataTable>
        <div class="callout callout-info" *ngIf="platforms && !platforms?.length">
          <p>There are no platforms yet. Feel free to add your first platform using the "Add new Platform" button.</p>
        </div>
        <div class="callout callout-info" *ngIf="!platforms">
          <p>Loading...</p>
        </div>
      </div>
      <div class="box-footer">
        <button class="btn btn-primary" routerLink="/platform/new">Add new Platform</button>
      </div>
    </section>
  </div>
  <ng2-slim-loading-bar [color]="'blue'"></ng2-slim-loading-bar>
</div>