{% extends "layout.html.twig" %}

{% block title %}Create platform{% endblock %}

{% block breadcrumb %}Create platform{% endblock %}

{% block body %}
<form class="form" action="platforms" method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" value="">
    </div>
    <input type="text" name="url" value="">
    <input type="button" name="submit" value="">
</form>
{% endblock %}
