{% extends "layout.html.twig" %}

{% block title %}Platforms{% endblock %}

{% block breadcrumb %}Platforms{% endblock %}

{% block body %}
<a href="{{ path_for('platformsNew') }}" class="btn btn-primary">Create a new platform</a>
<table class="table">
    <tr>
        <th>Name</th>
        <th>URL</th>
        <th>Free/Payed</th>
        <th>End date</th>
        <th>Max users</th>
        <th>Max disk space</th>
        <th>Contact name</th>
        <th>Contact phone</th>
        <th>Contact email</th>
    </tr>
</table>
<a href="{{ path_for('platformsNew') }}" class="btn btn-primary">Create a new platform</a>
{% endblock %}
