{% extends "layout.html.twig" %}

{% block title %}Servers{% endblock %}
{% block breadcrumb %}Servers{% endblock %}

{% block body %}
<h1>Server List</h1>
<table class="table">
    <tr>
        <th>Name</th>
        <th>IP</th>
        <th>Cores</th>
        <th>RAM</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>
            456
        </td>
    </tr>
</table>
{% endblock %}
